/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style css */
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 800px;
    margin:0px 280px;
}
/* header style of css */
.header{
    width:100%;
    left: 0%;
    top: 0%;
    background-color: #2d25a0;
    color: white;
    transition: transform 2s ease-out;
}
.header:hover .title,.header:hover img{
    color: orange;
    transform: skew(25deg);
    transition: 1s ease-out;
}
.top-header{
    display: flex;
    justify-content:center;
    padding:86px 140px;
}
.header-banner{
    flex-basis: 485px;
    padding-right: 20px;
}
.title{
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 27px;
}
.header-banner .button,.button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
  
}
.fas{
    width: 16px;
    height: 14px;
    color: white;
}
.banner-image img{
    width: 556px;
    height: 438px;
}
 /* end of header style */

 /* players style css */

 .all-players{
     margin-top: 70px;
     margin-bottom: 100px;
 }
 .players{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;
     justify-content: center;
 }
 .player{
    flex-basis: 330px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
 .player-title{
     font-size: 28px;
     margin-top:16px;
     margin-bottom: 10px;
 }
 .player-detail{
     margin-top: 0px;
     font-size: 16px;
 }
 /* end of players section */


 /* start of highlights section */

 /* start of Top Winner Country section */
 .top-country{
     margin-bottom: 100px;
 }
 .top-country-title{
     font-size: 40px;
     margin-top: 0px;
 }
.countrys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.country{
    margin-left:5px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding:10px;
    transition: transform 1s ease-in-out;
}
.country:hover{
    background-color: orange;
    color: white;
    perspective: 200px;
    transform: translateY(-15%) rotateX(30deg);
   
}
.country-details span{
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.country-details p{
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

 /* End of Top Winner Country section */
 .top-highlights{
    margin-bottom: 158px;
 }
 .highlights{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .highlight{
     width:50%;
 }
 .highlight-title{
     font-size: 48px;
     font-weight: 700;
     margin-bottom: 8px;
 }
 .highlight-detail{
    margin-top: 0px;
    font-size: 16px;
    margin-bottom:24px;
 }
 .highlight img{
    flex-basis: 500px;
    height: 400px;
 }
/* end of highlights section */


/* start of Top Fan section */
.top-players-fan{
    margin-bottom: 100px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.top-players-title{
    margin-bottom: 20px;
}
.top-fan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.fan{
    margin-left: 20px;
    overflow: hidden;
    position: relative
}
.fan:first-child{
    margin-left: 0px;
}
.player-img{
    text-align: center;
}
.fan img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.followers-group,.followers{
    text-align: center;
}
.follow{
    width:50px;
    height: 50px;
    font-size: 30px;
    margin: 10px;
    margin-bottom: 0px;
    color: gray;
}
.followers span{
    margin-left:10px;
    font-weight: 700;
    font-size: 16px;
    color: gray;
}
/* End of Top Fan section */

/* start of footer section */
.footer-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    flex-basis: 483px;
    height: 110px;
}
.icon-group{
    color: gray;
}
.fab,.fas{
    flex-basis: 32px;
    height: 32px;
    color:gray;
    border-radius: 50%;
    font-size: 16px;
}
.margin{
    margin: 0px 14px;
}
/* End of footer section */

/* Start of Media Query section */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
        margin: 0px;
    }
    /* Header Part */
    .top-header{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding: 20px;
    }
    .title{
        font-size: 50px;
        text-align: center;
    }
    .button-group{
        text-align: center;
    }
    .button{
        width: 100px;
        height: 30px;
        font-size: 10px;
        padding: 8px 15px;
    }
    .banner-image img{
        width: 300px;
        height: 250px;
        box-sizing: border-box;
    }
     /* End of Header Part */
    .players{
        grid-template-columns: repeat(1,1fr); 
    }
    .player .player-detail,.player-title{
        padding:10px;
    }
    .player-title{
        font-size:40px;
    }
    .player-detail{
        font-size:22px;
    }
    /* end of players query */

    /* Start of Top Winner Countr */
    .countrys{
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 20px;
    }
    .top-country-title{
        text-align: center;
        font-size: 30px;
    }
    /* End Of Top Winner country */

    /* Start of Highlights query */
    .highlights{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .highlight{
        width: 100%;
    }
    .highlight-detail{
        width: 100%;
        font-size: 16px;
        text-align: center;
        padding:0px 10px;
    }
    .highlight-title{
        font-size: 22px;
        align-items: center;
        text-align: center;
        padding: 5px;
    }
    .highlight img{
        width: 100%;
        height: 50%;
        margin-top: 30px;
    }
    /* End of Highlights query */

    /* Start of Top Fan query */
    .top-players-title{
        font-size: 28px;
    }
    .top-fan{
        flex-direction: column;
    }
    .fan .followers{
        margin-bottom: 20px;
    }
    .player-title{
        font-size: 26px;
    }
    .followers-group,.followers{
        text-align: center;
    }
    .player-title{
        margin: 0px;
    }
    /* End of Top fan query */
    .footer-part{
        flex-direction: column;
    }
    .footer-logo img{
        flex-basis: 250px;
        height: 70px;
    }
    .footer-copyright .margin{
        font-size: 14px;
    }
}
  /* tablet device */
@media only screen and (min-width:689px) and (max-width:992px) {
    .container{
        width: 100%;
        margin: 0px;
    }
    /* Start Top Header */
    .top-header{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding: 20px;
        padding-left: 0px;
    }
    .title{
        font-size: 50px;
        text-align: center;
    }
    .button-group{
        text-align: center;
    }
      /* End Top Header */
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    /* start of top Country Cup winner */
    .countrys{
        grid-template-columns: repeat(2,1fr);
    }
    /* End Of top country Cup Winner */

    /* Start Top Highlights */
    .highlight{
        width: 50%;
        padding: 0px 20px;
    }
    .highlight-title{
        font-size: 30px;
        width: 100%;
    }
    .highlight-detail{
        font-size: 20px;
        width: 100%;
    }
    .highlight img{
        width: 100%;
    }
    /* End Top Header */

     /* Start Top Fan */
    .top-players-fan{
        width: 100%;
    }
    .top-players-title{
        padding-left: 10px;
        font-size: 35px;
    }
    .top-fan{
        flex-direction: column;
    }
    .fan .followers{
        margin-bottom: 20px;
    }
     /* End Top Fan */
}
@media only screen and (min-width:993px) and (max-width:1200px){
    .container{
        width: 100%;
        margin: 0;
    }
    .header{
        width:100%
    }
    .top-players-fan{
        width: 100%;
    }
    .top-players-title{
        padding-left: 20px;
    }
}
/* End of Media Query section */
