/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style css */
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1000px;
    margin:0px 280px;
}
/* header style of css */
.header{
    width: 1440px;
    left: 0%;
    top: 0%;
    background-color: #2d25a0;
    color: white;
}
.header:hover .title{
    color: orange;
    transition: 1s ease-out;
}
.top-header{
    display: flex;
    justify-content: space-between;
    padding:86px 140px;
}
.header-banner{
    flex-basis: 485px;
}
.title{
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 27px;
}
.header-banner .button,.button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
  
}
.fas{
    width: 16px;
    height: 14px;
    color: white;
}
.banner-image img{
    width: 556px;
    height: 438px;
}
 /* end of header style */

 /* players style css */

 .all-players{
     margin-top: 70px;
     margin-bottom: 165px;
 }
 .players{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;
     justify-content: center;
 }
 .player{
    flex-basis: 330px;
    height: 474px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
 .player-title{
     font-size: 28px;
     margin-top:16px;
     margin-bottom: 10px;
 }
 .player-detail{
     margin-top: 0px;
     font-size: 16px;
 }
 /* end of players section */


 /* start of highlights section */
 .top-highlights{
    margin-bottom: 158px;
 }
 .highlights{
    display: flex;
 }
 .highlight{
    flex-basis: 469px;
    height: 241px;
    margin-right: 66px;
 }
 .highlight-title{
     font-size: 48px;
     font-weight: 700;
     margin-bottom: 8px;
 }
 .highlight-detail{
    margin-top: 0px;
    font-size: 16px;
    margin-bottom:24px;
 }
 .highlight-image img{
    flex-basis: 567px;
    height: 427px;
 }
/* end of highlights section */


/* start of Top Fan section */
.top-players-fan{
    margin-bottom: 100px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 20px;
}
.top-players-title{
    margin-bottom: 20px;
}
.top-fan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fan{
    margin-left: 30px;
}
.player-img{
    text-align: center;
}
.fan img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.follow{
    width:60px;
    height: 60px;
    font-size: 30px;
    margin: 10px;
    margin-bottom: 0px;
    color: gray;
}
.followers span{
    margin-left:10px;
    font-weight: 700;
    color: gray;
}
/* End of Top Fan section */

/* start of footer section */
.footer-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    flex-basis: 483px;
    height: 110px;
}
.icon-group{
    color: gray;
}
.fab,.fas{
    flex-basis: 32px;
    height: 32px;
    color:gray;
    border-radius: 50%;
    font-size: 16px;
}
.margin{
    margin: 0px 14px;
}
/* End of footer section */

/* Start of Media Query section */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .top-header{
        flex-direction: column;
        width: 700px;
        justify-content: center;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    .player-title{
        font-size: 50px;
    }
    .player-detail{
        font-size: 24px;
    }
    /* end of players query */

    /* Start of Highlights query */
    .highlights{
        flex-direction: column;
    }
    .highlight-detail{
        font-size: 24px;
    }
    .highlight-title{
        font-size: 30px;
    }
    /* End of Highlights query */

    /* Start of Top Fan query */
    .top-players-title{
        font-size: 40px;
    }
    .top-fan{
        flex-direction: column;
    }
    .fan .followers{
        margin-bottom: 20px;
    }
    .player-title{
        font-size: 28px;
    }
    .followers-group,.followers{
        text-align: center;
    }
    .player-title{
        margin: 0px;
    }
    /* End of Top fan query */
    .footer-part{
        flex-direction: column;
    }
    .footer-logo img{
        flex-basis: 250px;
        height: 70px;
    }
    .footer-copyright .margin{
        font-size: 16px;
    }
}
  /* tablet device */
@media only screen and (min-width:689px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .highlights,.top-fan{
        flex-direction: column;
    }
    .fan .followers{
        margin-bottom: 20px;
    }
}

/* End of Media Query section */
